# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://nmlhktkxdsjomjocyzjh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_XSQj_4slNyjsfeE5e2jxrA_kdJiF_z9
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_XSQj_4slNyjsfeE5e2jxrA_kdJiF_z9
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_XSQj_4slNyjsfeE5e2jxrA_kdJiF_z9

# Gemini API Key
NEXT_PUBLIC_GEMINI_API_KEY=your-gemini-api-key
